
@if (User.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin tab
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @Html.ActionLink("Create edition", "Create", "Edition", new { }, new { @class = "dropdown-item" })
            @Html.ActionLink("Manage topic", "Index", "Topic", new { }, new { @class = "dropdown-item" })
            @Html.ActionLink("Find user", "Find", "Manage", new { }, new { @class = "dropdown-item" })
        </div>
    </li>
    <li class="nav-item active">
        @Html.ActionLink("Creating editions", "Creating", "Edition", new { }, new { @class = "nav-link" })
    </li>
    <li class="nav-item active">
        @Html.ActionLink("Deleted editions", "Deleted", "Edition", new { }, new { @class = "nav-link" })
    </li>

}