<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Periodicals "Cinnabon"</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap-select.min.css")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        @Html.ActionLink("Cinnabon", "Index", "Home", new { }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav-link" })
                </li>

                @Html.Partial("_AdminNavs")

            </ul>

            @Html.Partial("_SearchForm")

            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    @Scripts.Render("~/bundles/jquery")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - "Cinnabon"</p>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap-select.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>