<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Periodicals "Cinnabon"</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        @Html.ActionLink("Cinnabon", "Index", "Home", new { }, new { @class = "nav-link navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">

                </li>

                @Html.Partial("_AdminNavs")
            </ul>

            @Html.Partial("_SearchForm")

            @Html.Partial("_LoginPartial")
        </div>
    </nav>


    <div class="container body-content">
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <div class="col-md-3">
                <p class="h3 text-uppercase font-weight-bold">Sidebar</p>
                <hr />

                <div class="sorting">
                    <span>
                        Sort by price:
                        @Html.ActionLink("Asceding", "Index", "Home", new { price = "Asc" }, new { @id = "priceSort Asc" })
                        @Html.ActionLink("Desceding", "Index", "Home", new { price = "Desc" }, new { @id = "priceSort Desc" })

                        Sort by edition:
                        @Html.ActionLink("A-Z", "Index", "Home", new { alphabet = "Asc" }, new { @id = "EditionSort Asc" })
                        @Html.ActionLink("Z-A", "Index", "Home", new { alphabet = "Desc" }, new { @id = "EditionSort Desc" })

                    </span>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - "Cinnabon"</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
