@using PeriodicalsFinal.DataAccess.Models

@{
    ViewBag.Title = "Index";

    IEnumerable<EditionModel> editions = ViewBag.Editions;
}

<div class="row">
    <div class="col-md-9">
        @foreach (EditionModel edition in editions)
        {
            var base64 = Convert.ToBase64String(edition.EditionImage);
            var imgSrc = String.Format("data:image/png;base64,{0}", base64);

            
            <div class="edition-wrapper">
                <p class="h3 text-uppercase font-weight-bold">@edition.Magazine.MagazineName</p>
                <hr />
                <div class="row">
                    <div class="col-md-6 edition-cover">
                        <img src="@imgSrc" alt="@edition.EditionTitle Cover" class="img-thumbnail img-fluid" />
                    </div>
                    <div class="col-md-6 edition-info">
                        @Html.ActionLink($"{edition.EditionMonth} {edition.EditionYear}", "Index", "Magazine", new { }, new { @class = "edition-date" })


                        <p class="h2 font-weight-light ">@edition.EditionTitle</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-3">
        <p class="h3 text-uppercase font-weight-bold">Sidebar</p>
        <hr />
    </div>
</div>



