@model PeriodicalsFinal.DataAccess.Models.EditionModel

@{
    ViewBag.Title = Model.EditionTitle;
}


@{
    var imgSrc = "";

    if(Model != null)
    {
        var base64 = Convert.ToBase64String(Model.EditionImage);
        imgSrc = String.Format("data:image/png;base64,{0}", base64);
    }
}


<div class="row">
    <div class="col-md-6">
        @if (User.IsInRole("Admin"))
        {
            <div class="admin-controls">
                @Html.ActionLink("Edit", "Edit", "Edition", new { editionId = Model.EditionId }, new { @class = "btn btn-custom" })
                @Html.ActionLink("Delete", "Delete", "Edition", new { editionId = Model.EditionId }, new { @class = "btn btn-custom" })
            </div>
        }
        @if (User.IsInRole("Publisher") || User.IsInRole("Admin"))
        {
            <div class="admin-controls">
                @Html.ActionLink("Create article", "Create", "Article", new { editionId = Model.EditionId }, new { @class = "btn btn-custom" })
            </div>
        }

        <p class="edition-date">@Model.EditionYear @Model.EditionMonth</p>
        <h2>@Model.EditionTitle</h2>
        <img src="@imgSrc" alt="@Model.EditionTitle cover" class="img-fluid" />
    </div>
</div>

