@model PeriodicalsFinal.DataAccess.Models.EditionModel

@using PeriodicalsFinal.DataAccess.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.EditionTitle;
}


@{
    var imgSrc = "";

    if (Model != null)
    {
        var base64 = Convert.ToBase64String(Model.EditionImage);
        imgSrc = String.Format("data:image/png;base64,{0}", base64);
    }

    IEnumerable<ArticleModel> articles = ViewBag.Articles;
}


<div class="row">
    <div class="col-md-12">
        @if (User.IsInRole("Admin"))
        {
            <div class="admin-controls">
                @Html.ActionLink("Edit", "Edit", "Edition", new { editionId = Model.EditionId }, new { @class = "btn btn-custom" })


                @if (Model.EditionStatus != EditionStatus.Active)
                {
                    @Html.ActionLink("Activate", "Activate", "Edition", new { editionId = Model.EditionId }, new { @class = "btn btn-custom" })
                }
                @if (Model.EditionStatus == EditionStatus.Deleted)
                {
                    @Html.ActionLink("Delete forever", "Remove", "Edition", new { editionId = Model.EditionId }, new { @class = "btn btn-custom" })
                }
                else
                {
                    @Html.ActionLink("Delete", "Delete", "Edition", new { editionId = Model.EditionId }, new { @class = "btn btn-custom" })
                }


            </div>
        }

        @if (User.IsInRole("Publisher") || User.IsInRole("Admin"))
        {
            <div class="admin-controls">
                @Html.ActionLink("Create article", "Create", "Article", new { editionId = Model.EditionId }, new { @class = "btn btn-custom" })
            </div>
        }
    </div>

    <div class="col-md-12">
        <span class="edition-title">@Model.Magazine.MagazineName:</span>
        <span class="edition-date">@Model.EditionYear @Model.EditionMonth</span>
        <hr />
    </div>

    <div class="col-md-6">
        <img src="@imgSrc" alt="@Model.EditionTitle cover" class="img-fluid" />

        <div class="subscribe text-center">
            @Html.ActionLink("Subscribe", "SubscibeConfirm", "Payment", new {successReturn = Request.Url.ToString(), paymentPrice = Model.EditionPrice, editionId = Model.EditionId}, new { })
            <span>- @Model.EditionPrice$</span>
        </div>
    </div>

    <div class="col-md-6">
        <p class="edition-title">@Model.EditionTitle</p>

        @if (articles.Count() >= 3)
        {
            foreach (ArticleModel article in articles.Take(3))
            {
                if (ViewBag.IsSubscribed)
                {
                    @Html.ActionLink(article.ArticleTitle, "Index", "Article", new { }, new { @class = "article-preview-title" })
                }
                else
                {
                    <span class="article-preview-title">@article.ArticleTitle</span>
                }

                if (article.ShortDescription != null)
                {
                    <p class="article-preview-shortTitle">@article.ShortDescription</p>
                }
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12 mt-5">
        @foreach (ArticleModel article in articles.Skip(3))
        {
            if (ViewBag.IsSubscribed)
            {
                @Html.ActionLink(article.ArticleTitle, "Index", "Article", new { }, new { @class = "article-preview-title" })
            }
            else
            {
                <span class="article-preview-title">@article.ArticleTitle</span>
            }

            if (article.ShortDescription != null)
            {
                <p class="article-preview-shortTitle">@article.ShortDescription</p>
            }
        }
    </div>
</div>